<div class="posts-ordenados mb-3 col-12 col-md-6">
  <h2>Blog Id-bootcamp</h2>
  <div class="post mb-3 col-12 col-md-6" *ngFor="let post of postOrdenados">
    <h3>{{ post.titulo }}</h3>
    <p>{{ post.texto }}</p>
    <h5>Creado por {{ post.autor }}</h5>
    <img [src]="post.imagen" alt="" />
    <p>{{ post.fecha }}</p>
    <h6>Categoria: {{ post.categoria }}</h6>
</div>

  <!-- <div class="filtrado">
    <h4>Filtrar por categoria</h4>
    <button class="btn btn-secondary" (click)="onGetByCategory(post.categoria)">Filtrar por categoria</button>
    <input type="checkbox" />Viajes
    <input type="checkbox" />Comida
    <input type="checkbox" />Coches
    <input type="checkbox" />Series
  </div> -->

</div>
